.DS_Store
/node_modules/*

/iam/*

/action/credentials.json
/action/src/env
/action/dist

/lambda/**/*.mjs
/lambda/**/env.json
/lambda/**/policy.json
/lambda/**/local

/ec2/lib/**/vendor
/ec2/secret
/ec2/action
/ec2/document/lib/**/.secret