.DS_Store
/node_modules/*
*.pem

/iam/*

/action/credentials.json
/action/src/env
/action/dist

/lambda/functions/**/*.mjs
/lambda/functions/**/env.json
/lambda/functions/**/policy.json
/lambda/functions/**/local
/lambda/layers/**/node_modules
/lambda/layers/**/*.zip

/s3/src/styles

/ec2/lib/**/vendor
/ec2/secret
/ec2/action
/ec2/document/lib/**/.secret
/ec2/document/scripts/prod
/ec2/document/styles/prod
