@media screen and (min-width:1024px) {
    .c9c {
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
    }

    .c9f {
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
    }
}