@media (prefers-color-scheme: dark) {
  .t2 {
    color-scheme: dark;

    --a1: #fff;
    --a2: #eee;
    --a3: #bbb;
    --a4: #999;

    --b1: #1c1c1e;
    --b2: #2c2c2e;
    --b3: #3a3a3c;
    --b4: #48484a;
    --b6: #636366;
  }
}